.myskills .container .skill-contant {
    display: flex;
    margin-bottom: 4rem;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.myskills .container .skill-contant .experiences{
    width: 50%;
}
.myskills .container .skill-contant .experiences p{
    text-align: justify;
    line-height: 1.4rem;
    font-size: 1.1rem;
    margin: 1rem 2rem 0.5rem 0rem;
}
.myskills .container .skill-contant .skills{
    width: 50%;
    margin: 1rem 0rem 1rem 2rem;
}
.myskills .container .skill-contant .skills div{
    display: flex;
    justify-content: space-between;  
    position: relative;
    margin: 1.5rem 0;

}
.myskills .container .skill-contant .skills div::before{
    content: "";
    background-color: rgba(246, 240, 240, 0.856);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: -60%;
}
.myskills .container .skill-contant .skills div::after{
    content: "";
    background-color: crimson;
    height: 5px;
    width: 70%;
    position: absolute;
    bottom: -60%;
}





.myskills .container .skill-contant .experiences a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 10px;
    margin-top: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    width: 30%;
    text-align: center;
}
.myskills .container .skill-contant .experiences a:hover{
    color: crimson;
    background: none;
}